doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= "Diploma"
    link(rel="stylesheet" href='styles/style.css')
  body
   header
     .logo
      img.logo(src="images/logo.png", alt="")
     .header
       nav.nav
        ul.list
         li.list__item 
          a(href="#") Startseite
         li.list__ 
          a(href="#") Leistungen
          img.arrow(src="images/arrow.png", alt="")
         li.list__item 
          a(href="#") Referenzen
          img.arrow(src="images/arrow.png", alt="")
         li.list__item 
          a(href="#") Über uns
     button.btn1 Kontakt 
      img.envelope(src="images/envelope.png", alt="")
   section.section1
    .sec1
     p.section Ingenieur Dieter Weiss
     h1.section__title Ingenieurbüro für Bau- und Vermessungswesen
     p.section__extra Wenn Sie zuverlässige Ingenieure brauchen – das Ingenieurbüro Dieter Weiss ist Garant für den Er­folg Ihrer Projekte.
     button.sec1__btn Ihr Projekt mit uns
      img.forward(src="images/forward.png", alt="")
    .sec__img
      img.dil(src="images/dilation.png", alt="")
   section.section2
    .sec2
     h1.sec2__title Unsere Dienstleistungen
     p.sec2__description Dienstleistung ist für unsere Mitarbeiter Herausforderung, das ist die Stärke unseres Teams. Ganz gleich, ob Verkehrsplanungen, Ver- und Ent­sorgung, Lärmschutz oder Spezialgebiete – wir bieten Rundum-Service mit:
    .gallery
     .gallery__item
      img.gal(src="images/stadion.png", alt="")
      h1.gal__title Studien und Konzepte, Gesamtplanung
      p.gal__description Neubau und Ausbau von Straßen, Verkehrsflächen, Wasserwegen und Eisenbahnen erfordert überzeugende Verkehrskonzepte.
      .wrapper
       p.gal__extra Erfahren Sie mehr
       img.gal__arrow(src="images/forward.png", alt="")
     .gallery__item
      img.gal(src="images/stadion1.png", alt="")
      h1.gal__title Verkehrsanlagen und Ingenieurbauwerke
      p.gal__description Verkehrskonzepte sind ein entscheidender Faktor jeglicher Infrastruktur. Das Ingenieurbüro Weiss hat deshalb ein Expertenteam aufgebaut.
      .wrapper
       p.gal__extra Erfahren Sie mehr
       img.gal__arrow(src="images/forward.png", alt="")
     .gallery__item
      img.gal(src="images/stadion2.png", alt="")
      h1.gal__title Entwurfsvermessung, 3D-Laserscanning
      p.gal__description Bei Ausführung sämtlicher vermessungstechnischer Aufgaben im Leistungsbild „Ent­wurfs­vermessung“ sind wir ein leistungsstarker Partner.
      .wrapper
       p.gal__extra Erfahren Sie mehr
       img.gal__arrow(src="images/forward.png", alt="")
    .background
     .bcg__item
      p.bcg Unsere Firmenhistorie
      h1.bcg__title Diplom-Ingenieur Dieter Weiss gründete im Jahre 1971 sein Ingenieurbüro.
      p.bcg__description Fast 30 Jahre lang führte er es als Alleininhaber. 1998 trat Sohn Klaus weiss als Stellvertreter an die Seite seines Vaters. Seit 2006 ist Diplom-Ingenieur Klaus Weiss alleiniger Geschäftsführer
      hr
      .bcg__extra
       p.extra Lesen Sie weiter
       img.extra__i(src="images/forward.png", alt="")
     img.pattern(src="images/pattern.png", alt="")

   section.section3
    .sec3__wrapper
      .sec3
       h1.sec3__title Wissenswertes
       p.sec3__description Integer massa urna, senectus maecenas in dapibus urna amet hendrerit. In ipsum, morbi amet aenean. Iaculis donec sem nullam nunc condimentum nisl non gravida in. 
      .sec3__btn 
       button.btn3 Unser Blog
        img.btn3__i(src="images/forward.png", alt="")
    p.com__title Unsere Letzten Beiträge
    .text 
     .column
      h1.column__title Sed eget morbi cursus elit ipsum pellentesque
      p.column__desc Pellentesque mauris arcu nec gravida amet nec. Duis senectus cras semper cursus bibendum phasellus vehicula porttitor...
      .info
        p.info__i Lesen Sie weiter
        img.info__a(src="images/forward.png", alt="")
     .column
      h1.column__title Sed eget morbi cursus elit ipsum pellentesque
      p.column__desc Pellentesque mauris arcu nec gravida amet nec. Duis senectus cras semper cursus bibendum phasellus vehicula porttitor...
      .info
        p.info__i Lesen Sie weiter
        img.info__a(src="images/forward.png", alt="")
     .column
      h1.column__title Sed eget morbi cursus elit ipsum pellentesque
      p.column__desc Pellentesque mauris arcu nec gravida amet nec. Duis senectus cras semper cursus bibendum phasellus vehicula porttitor...
      .info
        p.info__i Lesen Sie weiter
        img.info__a(src="images/forward.png", alt="")
   section.section4
    .sec4
     p.sec4__info Mach Karriere bei uns
     h1.sec4__title Bewirb dich bei uns
     p.sec4__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore  
     .sec4__btn
       button.btn4 Karriere
        img.btn4__i(src="images/forward.png", alt="")
    .building
      img.build__img(src="images/building.png", alt="")
   footer
    .foot__wrapper
     .logo__wrapper 
      img.logo2(src="images/logo2.png", alt="")  
      .name
       h1.name__title Geschäftsführer
       p.name__desc Beratender Ingenieur Dipl.-Ing. Klaus Weiss 
      .name
       h1.name__title Adresse
       p.name__desc Straßenname 712345 Stadt 
      hr
    .foot__extra 
      p.foot__extra1 Impressum |
      p.foot__extra2 Datenschutz
        
