@font-face {
  font-family: 'DINPro';
  font-style: normal;
  font-weight: 400;
  src: url(../copy-fonts/dinpro.ttf);
}

@font-face {
  font-family: 'DINPro';
  font-style: normal;
  font-weight: 500;
  src: url(../copy-fonts/DINPro-Medium.ttf);
}

@font-face {
  font-family: 'DINPro';
  font-style: normal;
  font-weight: 700;
  src: url(../copy-fonts/DINPro-Bold.ttf);
}
