@media screen and (max-width: 1200px) {
  *+* {
    margin: 0;
    padding: 0;
    max-width: 1200px;
  }
  .logo {
    margin-right: 74px;
  }
  .section1 {
    .sec__img {
      transform: translate(494px,-68px);
      width: 445px;
    }
  }
  .gal {
    width: 263px;
  }
  .sec2 {
    margin-bottom: 0px;
  }
  .background {
    width: 682px;
    height: 478px;
    transform: translate(-25px,-147px);
  }
  .bcg {
    padding-top: 10px;
    padding-left: 10px;
  }
  .pattern {
    transform: translate(413px,-141px);
    width: 487px;
  }
  .column {
    margin-bottom: 25px;
  }
  .build__img {
    transform: translate(352px,-758px);
    width: 580px;
  }
  .logo2 {
    margin-right: 125px;
  }
}
