@media screen and (max-width: 992px) {
  *+* {
    margin: 0;
    padding: 0;
    max-width: 992px;
  }
  .logo {
    margin-right: -55px;
  }
  .section1 {
    .sec__img {
      width: 240px;
      height: 304px;
      transform: translate(376px, 229px);
    }
  }
  .sec2 {
    margin-bottom: 35px;
  }
  .background {
    width: 518px;
    height: 473px;
    transform: translate(-75px, -147px);
  }
  .bcg {
    padding-top: 10px;
    padding-left: 10px;
  }
  .pattern {
    transform: translate(257px, -132px);
    width: 337px;
  }
  .section3 {
    padding-top: 235px;
  }
  .column {
    margin-bottom: 25px;
  }
  .build__img {
    transform: translate(257px,-725px);
    width: 494px;
  }
  .logo2 {
    margin-right: -20px;
  }
}
