@import "fonts";
@import "../styles/etrsmall.scss";
@import "../styles/small.scss";
@import "../styles/medium.scss";
@import "../styles/large.scss"

* + *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1366px;
}

p,
h1,
{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DINPro';
  
}
header {
  padding: 10px 0px;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
}
.logo {
  width: 134.48px;
  height: 38.34px;
  margin-right: 250px;
}
.nav {
}
.list {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
}
.list a {
  position: relative;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  color: #263640;
  margin-left: 50px;
  padding-bottom: 5px;

  &:hover {
    color:  #FF9900;
  }

    &::after {
      display: block;
      position: absolute;
      left: 0;
      width: 0; 
      height: 2px;
      background-color:#FF9900;
      content:" ";
      transition: width 0.3 s ease-out;
    }

      &:hover:after,
      &:focus:after{
        width: 100%;
      }
}
.arrow {
  margin-left: 10px;
}
.btn1 {
  width: 146px;
  height: 40px;
  background: #FF9900;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  color: #FFFFFF;
  border: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-left: 50px;

}

.envelope {
  width: 20px;
  height: 20px;
  color: #FFFFFF;
  margin-left: 10px;
}
.section1 {
  padding: 100px 0px;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .sec1 {
    display: flex;
    flex-flow: column wrap;
    margin-left: 100px;
    width: 405px;
  }
  .section {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #929A9F;
    margin-bottom: 15px;
  
    &__title {
      font-size: 32px;
      line-height: 45px;
      color: #263640;
      margin-bottom: 15px;
    }
    &__extra {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      color: #929A9F;
      margin-bottom: 40px;
    }
  }
  .sec1__btn {
    width: 209px;
    height: 40px;
    background: #FF9900;
    border: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }
  .forward {
    width: 20px;
    height: 20px;
  }
  .sec__img {
    background-image: url(../images/sec1.png); 
    background-size: cover;
    width: 500px;
    height: 600px;
    transform: translate(750px, -50px);
    position: absolute;
  }
}
.section2 {
  overflow: hidden;
  background: #F5F8FA;
  padding-top: 100px;
  padding-bottom: 600px;
}
.sec2{
  display: flex;
  flex-flow: column wrap;
  width: 500px;
  margin-left: 100px;
  margin-bottom: 100px;

  &__title {
    font-size: 24px;
    line-height: 44px;
    color: #263640;
    font-weight: bold;
  }
  &__description {
    font-size: 16px;
    line-height: 28px;
    color: #929A9F;
    margin-bottom: 80px;
  }
}
.gallery {
  display: flex;
  flex-flow: row wrap;
}
.gal {
  display: flex;
  flex-flow: column wrap;
  width: 325px;
  margin: 0 auto;

  &__img {
    width: 250px;
    height: 250px;
  }
  &__title {
    font-size: 20px;
    line-height: 30px;
    color: #263640;
    margin-left: 30px;  

  }
  &__description {
    font-size: 16px;
    line-height: 28px;
    color: #929A9F;
    margin-left: 30px;
  }
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  &__extra {
    font-size: 16px;
    line-height: 28px;
    color: #FF9900;
    margin-left: 30px;
  }
  &__arrow {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }
}
.background {
  background: #263640;
  width: 1009px;
  height: 584px;
  margin-top: 300px;
  margin-left: 100px;
  position: absolute;
  transform: translate(-10px, -147px);
}
.bcg {
  display: flex;
  flex-flow: column wrap;
  width: 435px;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 90px;


  &__item {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #929A9F;
    margin-bottom: 24px;
  }
  &__title {
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    margin-bottom: 24px;
  }
  &__description {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 50px;
  }
}
hr {
  opacity: 0.2;
  height: 1px;
  background-color: #FFFFFF;
  width: 100%;
}
.extra {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  &__i {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
  }
  &__p {
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }
}
.pattern {
  transform: translate(600px, -490px);
}
.section3{
  padding-top: 400px;
  overflow: hidden;
}
.sec3__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0px 100px;
 
}
.sec3 {
  display: flex;
  flex-flow: column wrap;
  width: 480px;

  &__title {
    font-size: 32px;
    line-height: 45px;
    color: #263640;
  }
  &__description {
    font-size: 16px;
    line-height: 28px;
    color: #929A9F;
  }
}
.btn3 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.btn3__b {
  width: 153px;
  height: 40px;
  background: #FF9900;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  color: #FFFFFF;
}
.btn3__i {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.com__title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #929A9F;
  margin-top: 80px;
  margin-left: 100px;
  margin-bottom: 30px;
}
.text {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-left: 60px;
  padding-bottom: 350px;
}
.column {
  display: flex;
  flex-flow: column wrap;
  width: 360px;

  &__title {
    font-size: 20px;
    line-height: 30px;
    color: #263640;
  }
  &__desc {
    font-size: 16px;
    line-height: 28px;
    color: #929A9F;

  }
}
.info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  &__i {
    font-size: 16px;
    line-height: 28px;
    color: #FF9900;
  }
  &__a {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }
}

.section4 {
  background: #F5F8FA;
  overflow: hidden;
}
.sec4 {
  display: flex;
  flex-flow: column wrap;
  width: 320px;
  margin-top: 100px;
  margin-left: 100px;
  padding-bottom: 180px;

  &__info {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #929A9F;
  }
  &__title {
    font-size: 32px;
    line-height: 44px;
    color: #263640;
  }
  &__desc {
    font-size: 16px;
    line-height: 28px;
    color: #929A9F;
  }
}
.sec4__btn {
  display: flex;
  flex-flow: row wrap;
}
.btn4 {
  width: 135px;
  height: 40px;
  background: #FF9900;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  color: #FFFFFF;
  border: none;

}
.btn4__i {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.building {}
.build__img {
  transform: translate(441px, -700px);
  position: absolute;
}
footer {
  background: #263640;
  overflow: hidden;
  padding: 60px 0;
}
.foot__wrapper {}
.logo__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.logo2 {
  width: 134.48px;
  height: 38.34px;
  margin-right: 400px;
}
.name {
  display: flex;
  flex-flow: column wrap;
  width: 130px;

  &__title {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  &__desc {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 8px;
  }
}

.foot {
  display: flex;
  flex-flow: row wrap;
  margin-left: 100px;

  &__extra1 {
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin-right: 2px;
  }
  &__extra2 {
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    border-left-width: 5px;
  }
}

